/* Doodle Stage */

#stage {
  height: 300px;
  width: 600px;
  overflow: hidden;
}

img {
  position: relative;
  width: 90px;
}

.top {
  top: 100px;
}

.bottom {
  top: 118px;
}

#text {
  width: 250px;
  position: relative;
  top: 120px;
  right: -180px;
}

#bigg {
  right: -91px;
  animation: one 2s ease-out 1s 1 both;
}

@keyframes one {
  0% {
    opacity: 0;
    transform: scale(5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#g {
  right: -21px;
  animation: two 2s ease-out 3s 1 both;
}

@keyframes two {
  0% {
    opacity: 0;
    transform: scale(5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#o {
  right: -68px;
  animation: three 2s ease-out 4s 1 both;
}

@keyframes three {
  0% {
    opacity: 0;
    transform: scale(5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#e {
  right: 26px;
  animation: four 2s ease-out 5s 1 both;
}

@keyframes four {
  0% {
    opacity: 0;
    transform: scale(5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#yellow {
  right: -45px;
  animation: five 2s ease-out 6s 1 both;
}

@keyframes five {
  0% {
    opacity: 0;
    transform: scale(5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#l {
  right: 2px;
  animation: six 2s ease-out 7s 1 both;
}

@keyframes six {
  0% {
    opacity: 0;
    transform: scale(5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}